################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/hiject/v16
*.exp
*.iobj
*.ipdb
*.lib
*.pdb
*.tlog
*.obj
/hiject/Debug
/hiject/Release
/hiject/x64/Debug
*.exe
/hiject/t_baibaoyun_win32.dll
/Debug
/ymjh/Debug
/ymjh/Release
